

body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




img-grande {
    width: 900px;
    height: auto;
}

/* Estilo responsivo para dispositivos móveis */
@media (max-width: 768px) {
    .img-grande {
        width: 100%;
        height: auto;
    }
}